// CSS Reset inspired by modern best practices, tailored for our Rick and Morty Dashboard

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #202329; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
