// app/assets/scss/_variables.scss

// Colores Rick & Morty
$color-rick-green: #97ce4c;
$color-rick-green-light: #b2e161;
$color-morty-blue: #00b5cc;

// Neutros y UI
$color-bg-dark: #202329;
$color-card-bg: #3c3e44;
$color-input-bg: #272b33;
$color-error: #ff4d4d;
$color-text-main: #f5f5f5;
$color-text-muted: #9e9e9e;